* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'IBM Plex Mono';
  font-size: 1rem;
  color: #060A24;
  letter-spacing: 0;
  line-height: 28px;
  max-width: 1440px;
  margin: auto;
}

body header {
  z-index: 1;
  width: 100%;
  padding: 0.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
}

body header .logo img {
  width: 24px;
  padding-left: 1rem;
  padding-top: 0.5rem;
}

body header nav #menuToggle {
  width: 100%;
  height: 12px;
  margin-right: 1rem;
}

body main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2.25rem;
}

body main .landing_front {
  padding: 1rem;
}

body main .landing_front h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.25rem;
  letter-spacing: 0;
  line-height: 42px;
}

body main .landing_front .tachado::after {
  content: "world";
  text-decoration: line-through;
}

body main .landing_front p {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 1.5rem;
}

body main .landing_front .botom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background: #00F3BB;
  width: 90%;
  height: 48px;
  margin: auto;
  margin-top: 2.5rem;
  padding-top: 0.7rem;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.2rem;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

body main .podcast .diagonal-box {
  margin-top: 0.5rem;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 4%, 100% 0%, 100% 95%, 0 100%);
          clip-path: polygon(0 4%, 100% 0%, 100% 95%, 0 100%);
  z-index: -1;
}

body main .podcast .diagonal-box h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 2.25rem;
  padding-top: 5rem;
  padding-left: 1rem;
  color: white;
  font-weight: 300;
}

body main .podcast .diagonal-box .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3rem;
  padding-left: 1rem;
  padding-bottom: 10rem;
}

body main .podcast .diagonal-box .content iframe {
  width: 90%;
  height: 255px;
  border: none;
  border-radius: 3%;
  margin-bottom: 1rem;
}

body main .phone {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body main .phone img {
  height: 560px;
  width: 100%;
  -webkit-transform: translate(0px, -120px);
          transform: translate(0px, -120px);
}

body main .where {
  margin-top: -120px;
  padding: 1rem;
}

body main .where h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 1rem;
}

body .invited h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-bottom: 1rem;
  padding: 1rem;
}

body .invited .container_picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

body .invited .container_picture img {
  width: 100%;
}

body .themes {
  padding: 1rem;
}

body .themes h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 40px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 3rem;
}

body .themes .container_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .themes .container_icons .pad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .themes .container_icons .pad h2 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

body .themes .container_icons .pad img {
  width: 104px;
  margin-bottom: 1rem;
  margin-top: 4rem;
}

body .news {
  margin-top: 0.5rem;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
  -webkit-clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 100%);
          clip-path: polygon(0 16%, 100% 0%, 100% 100%, 0 100%);
  z-index: -1;
}

body .news h1 {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 100;
  font-size: 40px;
  color: white;
  letter-spacing: 0;
  line-height: 42px;
  margin-top: 3rem;
  text-align: center;
  padding: 1rem;
}

body .news .botom {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  background: #00F3BB;
  width: 80%;
  height: 48px;
  margin: auto;
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  padding-top: 0.7rem;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.2rem;
  color: #060A24;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

body footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body footer p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  text-align: center;
}

body footer .container_awesone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 3rem;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 18px;
  height: 12px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 2;
  /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 18px;
  height: 2px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(2.5px, 3.5px);
          transform: rotate(45deg) translate(2.5px, 3.5px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, 0px);
          transform: rotate(-45deg) translate(0, 0px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1;
  position: absolute;
  width: 100%;
  margin: 5px 0 0 -320px;
  padding-bottom: 1rem;
  color: white;
  background: #0000EC;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  right: 0;
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transform: translate(0, -130%);
          transform: translate(0, -130%);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0 0 20px;
  font-size: 1rem;
  color: white;
  font-weight: 400;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=style.css.map */